
<table border=0 width="700px" style=" padding: 10px 0 10px 0; background:none repeat scroll 0 0 #E6E8E8; font-size:13px;" >
  <tr>
    <td align= "center">
      <table style="border: none; border-collapse:collapse;">
        <tr>
          <td>
            <table cellpadding=0 style="text-align: left; background-color:#FFFFFF; color:#333; border-collapse:collapse; font-family: arial sans-serif;"  width=650px border=0 >
	      <!-- begin header -->
	      <tr style="height:7px;background-color:#E6E8E8">
	      	<td colspan=2 background="http://{{ sitio.name }}{{ STATIC_URL }}common/img/email/franja_header.png">
		</td>
              </tr>
              <tr style="height:95px; background:none repeat scroll 0 0 #FFFFFF;">
                <td>
                  <img width=134 height=95 border="0" src="http://{{ sitio.name }}{{ STATIC_URL }}common/img/email/resinmetal.png" alt="ResinMetal" />
                </td>
                <td>
	      	  <h1 style="font-family: arial sans-serif; font-size: 50px; padding-top: 20px;"><span style="color:#DC0024;">Resin</span><span style="color:#059744;">Metal E.I.R.L.</span></h1>
                </td>
	      </tr>
	      <!-- end header -->
	      <!-- begin content -->
              <tr style="border-bottom: 6px solid #DC0024;">
                <td colspan=2 style="padding: 30px 30px 60px;">
                  {% block body %}{% endblock %}
                </td>
              </tr>
	      <!-- end content -->
	      <!-- begin footer -->
              <tr style="height:40px; background:none repeat scroll 0 0 #B5ECCD; vertical-align: bottom;">
                <td colspan=2>
                  <table cellpadding=0 style="text-align: left; border-collapse:collapse; font-family: arial sans-serif;" width=650px  border=0 >
	      	    <tr>
	      	      <td width="55%" style="padding-left:15px; height: 40px;">Copyright &copy; 2012 <span style="color:#DC0024;">Resin</span><span style="color:#059744;">Metal E.I.R.L.</span>
	      	      </td>
	      	    </tr>
	      	  </table>
                </td>
              </tr>
	      <tr  style="height:7px;background-color:#E6E8E8">
	      	<td colspan=2 background="http://{{ sitio.name }}{{ STATIC_URL }}common/img/email/franja_footer.png">
                </td>
              </tr>
	      <!-- end footer -->

            </table>
          </td>
        </tr>
      </table>
    </td>
  </tr>
</table>
