{% extends "admin/base_site.html" %}
{% load i18n l10n admin_static %}
{% load url from future %}
{% load admin_urls %}

{% block extrastyle %}
  {{ block.super }}
  <link rel="stylesheet" type="text/css" href="{% static "admin/css/forms.css" %}" />
  <link rel="stylesheet" type="text/css" href="{% static "admin/css/widgets.css" %}" />
{% endblock %}

{% block extrahead %}
  {{ block.super }}
  <script type="text/javascript" src="/admin/jsi18n/"></script>
  <script type="text/javascript" src="{{ STATIC_URL }}admin/js/core.js"></script>
  <script type="text/javascript" src="{{ STATIC_URL }}admin/js/jquery.js"></script>
  <script type="text/javascript" src="{{ STATIC_URL }}admin/js/jquery.init.js"></script>
  {{ form.media }}
  <script type="text/javascript" src="{{STATIC_URL}}common/js/jquery-1.7.2.min.js"></script>
  <script type="text/javascript">
    (function($) {
      $(document).ready(function($) {

      });
    })(jQuery);
</script>
{{ wizard.form.media }}
{% endblock %}

{% block breadcrumbs %}
<div class="breadcrumbs">
<a href="{% url 'admin:index' %}">{% trans 'Home' %}</a> &rsaquo; 
<a href="{% url 'admin:app_list' app_label='proyectos' %}">Proyectos</a> &rsaquo; 
<a href="{% url 'admin:proyectos_inclusionexclusion_changelist' %}">Inclusiones Exclusiones</a> &rsaquo; 
{% trans 'Add' %} Inclusión Exclusión.
</div>
{% endblock %}

{% block content %}

<h1>{% trans 'Add' %} Inclusión Exclusión</h1>
{% if wizard.form.errors %}
    <p class="errornote">
    {% blocktrans count counter=wizard.form.errors|length %}Please correct the error below.{% plural %}Please correct the errors below.{% endblocktrans %}
    </p>
    {{ wizard.form.non_field_errors }}
{% endif %}
<div id="content-main">
  <form enctype="multipart/form-data" action="" method="post">
    {% csrf_token %}
    <fieldset class="module aligned">
      <h2>Step {{ wizard.steps.step1 }} of {{ wizard.steps.count }}</h2>
      <div class="description">Este formulario va registrar la inclusión y exclusión de personal en el sistema y enviará el correo correspondiente a los encargados seleccionados de las aseguradoras así como a los correos incluidos manualmente, el correo llevará adjunta la plantilla en excel con todo el personal a incluir y excluir ya escrito en la hojas 'Archivo Inclusiones' y 'Archivo Exclusiones' correspondientes.</div>
	  {{ wizard.management_form }}
	  {% if wizard.form.forms %}
	    {{ wizard.form.management_form }}
	    {% for form in wizard.form.forms %}
              {{ form.non_field_errors }}
  	      {% for field in form.hidden_fields %}
	        {{field.errors}}
	        {{field}}
	      {% endfor %}
	      {% for field in form.visible_fields %}
 	        <div class="form-row aligned {% if field.errors %}errors{% endif %}">
	          <div>
	            {{field.errors}}
	            <label {% if field.field.required %}class="required"{% endif %} for="id_{{field.label}}">
		      {{field.label}}:
	            </label> 
	            {{field}}
	            <p class="help">{{field.help_text|safe}}</p>
	          </div>
		</div>
	      {% endfor %}
	      {# {{ form }} #}
	    {% endfor %}
	  {% else %}
	    {% for field in wizard.form.hidden_fields %}
	      {{field.errors}}
	      {{field}}
	    {% endfor %}
	    {% for field in wizard.form.visible_fields %}
 	      <div class="form-row aligned {% if field.errors %}errors{% endif %}">
	        <div>
	          {{field.errors}}
	          <label {% if field.field.required %}class="required"{% endif %} for="id_{{field.label}}">{{field.label}}:</label> 
	          {{field}}
	          <p class="help">{{field.help_text|safe}}</p>
	        </div>
	      </div>
	    {% endfor %}
	    {# {{ wizard.form }} #}
	  {% endif %}
    </fieldset>
    <div class="submit-row">
      {% if wizard.steps.prev %}
      <button name="wizard_goto_step" type="submit" value="{{ wizard.steps.first }}">{% trans "first step" %}</button>
      <button name="wizard_goto_step" type="submit" value="{{ wizard.steps.prev }}">{% trans "prev step" %}</button>
      {% endif %}
      <input class="default" type="submit" value="{% if wizard.steps.step1 == 3 %}{% trans 'submit' %}{% else %}Continuar{% endif %}"/>
    </div>
  </form>
</div>
{% endblock %}
