{% extends "admin/base_site.html" %}
{% load i18n l10n admin_static %}
{% load url from future %}
{% load admin_urls %}

{% block extrastyle %}
  {{ block.super }}
  <link rel="stylesheet" type="text/css" href="{% static "admin/css/forms.css" %}" />
{% endblock %}

{% block extrahead %}
  {{ block.super }}
  {{ form.media }}
{% endblock %}

{% block breadcrumbs %}
<div class="breadcrumbs">
<a href="{% url 'admin:index' %}">{% trans 'Home' %}</a>
<a href="{% url 'admin:app_list' app_label='proyectos' %}">Proyectos</a> &rsaquo; 
<a href="{% url 'admin:proyectos_inclusionexclusion_changelist' %}">Inclusiones Exclusiones</a> &rsaquo; 
{% trans 'Add' %} Inclusión Exclusión.

</div>
{% endblock %}

{% block content %}
<h1>Inclusión Exclusión exitosa</h1>
<p>Se envió por correo el documento en excel a los encargados seleccionados y a 
los correos ingresados.
</p>
<p>
{% if exist %}
Haga clic en el siguiente enlace para descargar el PDF con los contratos del 
personal incluido. <br/><h2><a href="{{MEDIA_URL}}{{CONTRACTS_URL}}/contrato_proyecto_{{project.id}}_inclusionexclusion_{{inclusionexclusion.id}}.pdf">Descargar
 contratos</a></h2>
{% else %}
Las exclusiones fueron realizadas con éxito.
{% endif %}
</p>
<div class="submit-row">
  <form method='GET' action="">
    <input class="default" type="submit" value="Regresar al listado de inclusiones y exclusiones" name="go_back" />
  </form>
</div>
{% endblock %}
