{% extends "admin/base_site.html" %}
{% load i18n thumbnail %}
{% block extrahead %}
<script type="text/javascript" src="{{STATIC_URL}}common/js/jquery-1.7.2.min.js"></script>
<script type="text/javascript" src="{{STATIC_URL}}common/js/provincias_distritos.js"></script>
<script type="text/javascript" src="{{STATIC_URL}}personal/js/update_provinces_districts.js" charset="UTF-8"></script>
<script type="text/javascript">
$(document).ready(function(){

  update_provincias_distritos(
    "{% url admin:admin_personal_ajax_edit_direccion %}",
    "{% url admin:admin_personal_ajax_update_provincia_selection %}",
    "{% url admin:admin_personal_ajax_update_distrito_selection %}",
    "{% url admin:admin_personal_ajax_delete_direccion %}",
    'input#id_id',
    'input#id_texto', 'select#id_departamento', 'select#id_provincia', 
    'select#id_distrito', 'input.changelink', 'input.delete'
  );

  provincias_distritos(
    "{% url admin:admin_personal_ajax_get_provincias %}",
    "{% url admin:admin_personal_ajax_get_distritos %}",
    'select#id_departamento',
    'select#id_provincia', 'select#id_distrito');

});

</script>
{% endblock %}

{% block extrastyle %}
  {{ block.super }}
  <link rel="stylesheet" type="text/css" href="{{STATIC_URL}}personal/css/admin.css"/>
{% endblock %}
{% block bodyclass %}change-form{% endblock %}

{% block div_content_id %}{% endblock %}
{% block content %}
<div id="content-main">
  {% if add_success %}
  <ul class="messagelist">
    <li class="info">La información fue ingresada con éxito</li>
  </ul>
  {% endif %}

  {% block form_top %} <h1>{% trans 'Add' %} direcciones</h1>{% endblock %}
  <fieldset class='module aligned'>
    <div class='proyecto-form-col1'>
      <!-- Begin Add Direccion Form -->
	<div id='addFonoForm'>
	  <form action="" method="post">{% csrf_token %}
	    <!-- <div class='fonoFormset_list'> -->
	    <div>
	      <table id="newForms">
	        {{form.non_field_errors}}
		{{form.id}}
  	        {% for field in form.visible_fields %}
	          {% if field.errors %}
	          <tr>
		    <td colspan=2>
  	            {{field.errors}}
		    </td>
		  </tr>
		  {% endif %}
                  <tr>
		    <th>
	            {{field.label_tag}}
		    </th>
		    <td>
	            {{field}}
		    </td>
  	          </tr>
		{% endfor %}
	      </table>
	    </div>
	    <div class="submit-row">
	      <input class="default" type="submit" name="_save" value="{% trans 'Add' %}">
	    </div>
	  </form>
	</div>

      <!-- End Add Direccion Form -->
    </div>

    <div class='proyecto-form-col2'>
      <!-- Begin edit delete tool -->

      <ul id="delObs" class="messagelist no-display">
	<li class="info">Dirección Eliminada</li>
      </ul>

      <h1>Lista de direcciones</h1>
      <div class="telefonos_list">
	<fieldset class='module'>
	  <table class='telefonos_list'>
	    {% for c in dir_list %}
	    <tr id='{{c.id}}'>
	      <td class='first'>{{c.texto}}</td>
	      <td class='second'>
		{{c.distrito}}
	      </td>
	      <td>
		  <table>
		    <tr>
		      <td>
			<input type="submit" value="Modificar" name="modify" class="changelink" alt="{{c.id}}">
		      </td>
		      <td>
			<input type='submit' value='{% trans "Delete" %}' name='delete' class="delete" alt="{{c.id}}">
		      </td>
		    </tr>
		  </table>
	      </td>
	    </tr>
	    {% endfor %}
	  </table>
	</fieldset>
      </div>
      <!-- End edit delete tool -->
    </div>

  </fieldset>
</div>
{% endblock %}

