{% extends "admin/base_site.html" %}
{% load i18n thumbnail %}
{% block extrahead %}
<script type="text/javascript" src="{{STATIC_URL}}common/js/jquery-1.7.2.min.js"></script>
<script type="text/javascript" src="{{STATIC_URL}}personal/js/observacion.js"></script>
<script type="text/javascript">
    var URL_EDIT = "{% url admin:admin_ajax_edit_observacion %}";
    var URL_DELETE = "{% url admin:admin_ajax_delete_observacion %}";
</script>
{{form.media}}
{% endblock %}

{% block extrastyle %}
  {{ block.super }}
  <link rel="stylesheet" type="text/css" href="{{STATIC_URL}}personal/css/admin.css"/>
{% endblock %}
{% block bodyclass %}change-form{% endblock %}

{% block div_content_id %}{% endblock %}
{% block content %}
<div id="content-main">
  {% if add_success %}
  <ul class="messagelist">
    <li class="info">La información fue ingresada con éxito</li>
  </ul>
  {% endif %}

  {% block form_top %} <h1>{% trans 'Add' %} Observaciones</h1>{% endblock %}
  <fieldset class='module aligned'>
    <div class='proyecto-form-col1'>
      <!-- Begin Add Observation Form -->
	<div id='addFonoForm'>
	  <form action="" method="post">{% csrf_token %}
	    <!-- <div class='fonoFormset_list'> -->
	    <div>
	      <table id="newForms">
	        {{form.non_field_errors}}
		{{form.id}}
  	        {% for field in form.visible_fields %}
	          {% if field.errors %}
	          <tr>
		    <td colspan=2>
  	            {{field.errors}}
		    </td>
		  </tr>
		  {% endif %}
                  <tr>
		    <th>
	            {{field.label_tag}}
		    </th>
		    <td>
	            {{field}}
		    </td>
  	          </tr>
		{% endfor %}
	      </table>
	    </div>
	    <div class="submit-row">
	      <input class="default" type="submit" name="_save" value="{% trans 'Add' %}">
	    </div>
	  </form>
	</div>

      <!-- End Add Observation Form -->
    </div>

    <div class='proyecto-form-col2'>
      <!-- Begin edit delete tool -->

      <ul id="delObs" class="messagelist no-display">
	<li class="info">Observación Eliminada</li>
      </ul>

      <h1>Lista de Observaciones</h1>
      <div class="telefonos_list">
	<fieldset class='module'>
	  <table class='telefonos_list'>
	    {% for c in obsList %}
	    <tr id='{{c.id}}'>
	      <td class='first'>{{c.fecha}}</td>
	      <td class='second'>
		
		{% if c.tipo == 1 %}Buena{% else %}Mala{% endif %}
	      </td>
	      <td>
		  <table>
		    <tr>
		      <td>
			<input type="submit" value="Modificar" name="modify" class="changelink" alt="{{c.id}}">
		      </td>
		      <td>
			<input type='submit' value='{% trans "Delete" %}' name='delete' class="delete" alt="{{c.id}}">
		      </td>
		    </tr>
		  </table>
	      </td>
	    </tr>
	    {% endfor %}
	  </table>
	</fieldset>
      </div>
      <!-- End edit delete tool -->
    </div>

  </fieldset>
</div>
{% endblock %}

