{% extends "admin/base_site.html" %}
{% load i18n l10n admin_static %}
{% load url from future %}
{% load admin_urls %}

{% block extrastyle %}
  {{ block.super }}
  <link rel="stylesheet" type="text/css" href="{% static "admin/css/forms.css" %}" />
  <link rel="stylesheet" type="text/css" href="{% static "common/css/jquery.modal.css" %}" />
  <link rel="stylesheet" type="text/css" href="{% static "admin/css/widgets.css" %}" />
{% endblock %}

{% block extrahead %}
  {{ block.super }}
  <script type="text/javascript" src="/admin/jsi18n/"></script>
  <script type="text/javascript" src="{{ STATIC_URL }}admin/js/core.js"></script>
  <script type="text/javascript" src="{{ STATIC_URL }}admin/js/jquery.js"></script>
  <script type="text/javascript" src="{{ STATIC_URL }}admin/js/jquery.init.js"></script>
  {{ form.media }}
  <script type="text/javascript" src="{{STATIC_URL}}common/js/jquery-1.7.2.min.js"></script>
  <script type="text/javascript" src="{{STATIC_URL}}common/js/jquery.modal.js"></script>
  <script type="text/javascript" src="{{STATIC_URL}}personal/js/edit_modelo_contrato.js"></script>
  <script type="text/javascript">
    (function($) {
      $(document).ready(function($) {

        manage_model_edition('{{modified}}');

      });
    })(jQuery);
</script>
{% endblock %}

{% block breadcrumbs %}
<div class="breadcrumbs">
<a href="{% url 'admin:index' %}">{% trans 'Home' %}</a>
&rsaquo; <a href="{% url 'admin:personal_personal_changelist' %}">Personal</a>
&rsaquo; Asegurar personal.
</div>
{% endblock %}

{% block content %}
<h1>Asegurar personal</h1>
<p>Teniendo en cuenta los siguientes datos:</p>
<div class='module'>
  <h2>Datos del contrato realizado</h2>
  <ul>
    <li>Fecha de inicio {{form.fecha_inicio_contrato.value}}</li>
    <li>Fecha de fin {{form.fecha_fin_contrato.value}}</li>
    <li>Polizas:<ul>{{poliza_list|unordered_list}}</ul>
    </li>
  </ul>
</div>
<p>Llene el siguiente formulario:</p>
<div id="content-main">
  <form enctype="multipart/form-data" id="edit_model" action="" method="post">
    {% csrf_token %}
    <fieldset class="module aligned">
      <h2>Datos del seguro</h2>
      <div class="description">Este formulario va registrar los datos de las pólizas y enviará el correo correspondiente a los encargados seleccionados de las aseguradoras así como a los correos incluidos manualmente, el correo llevará adjunta la plantilla en excel con todo el personal ya escrito en la hoja 'Archivo Renovación'.</div>
      {{ form.non_field_errors }}
      {% for field in form.hidden_fields %}
      {{field.errors}}
      {{field}}
      {% endfor %}
      {% for field in form.visible_fields  %}
      <div class="form-row aligned">
	<div>
	  {{field.errors}}
	  <label {% if field.field.required %}class="required"{% endif %} for="id_{{field.label}}">
	    {{field.label}}:
	  </label> 
	  {{field}}
	  <p class="help">{{field.help_text|safe}}</p>
	</div>
      </div>
      {% endfor %}
    </fieldset>
    <div class="submit-row">
      <input class="default" type="submit" value="Enviar" name="save" />
    </div>
  </form>
</div>
{% endblock %}
