{% extends "admin/base_site.html" %}
{% load i18n l10n admin_static admin_list %}
{% load url from future %}
{% load admin_urls %}

{% block extrastyle %}
  {{ block.super }}
  <link rel="stylesheet" type="text/css" href="{% static "admin/css/changelists.css" %}" />
  <link rel="stylesheet" type="text/css" href="{% static "admin/css/forms.css" %}" />
{% endblock %}

{% block extrahead %}
  {{ block.super }}
  <script type="text/javascript" src="{{STATIC_URL}}common/js/jquery-1.7.2.min.js"></script>
  <script type="text/javascript" src="{{STATIC_URL}}personal/js/confirm_selection.js"></script>
  <script type="text/javascript">
    (function($) {
      $(document).ready(function($) {

        redirection("input#go_back", 
                    "{% url 'admin:personal_personal_changelist' %}");

      });
    })(jQuery);
</script>
{% endblock %}


{% block breadcrumbs %}
<div class="breadcrumbs">
<a href="{% url 'admin:index' %}">{% trans 'Home' %}</a>
&rsaquo; <a href="{% url 'admin:personal_personal_changelist' %}">Personal</a>
&rsaquo; Contratar personal.
</div>
{% endblock %}

{% block content %}
<h1>Está seguro que desea contratar a todas estas personas?</h1>
<ul>
  <li>Revise el listado y realice las correcciones pertinentes.</li>
  <li>Verifique la disponibilidad del personal seleccionado mediante llamadas 
    y/o entrevistas personales antes de realizar la contratación.</li>
  <li>Recuerde que una vez contratados el proceso es irreversible.</li>
</ul>
<div id="changelist" class="module filtered">
  <form action="{% url 'admin:admin_personal_select_modelo_contrato' %}" method="post">{% csrf_token %}
    <div>
      <table>
	<thead>
	  <th scope="col">
	    <div class="text">
	      <span>Nro.</span>
	    </div>
	  </th>
	  <th scope='col'>
	    <div class="text">
	      <span>Seleccionado</span>
	    </div>
	  </th>
	  <th scope='col'>
	    <div class="text">
	      <span>Personal</span>
	    </div>
	  </th>
	</thead>
	{% for persona in personal_list %}
	<tr  class="row{% cycle 1 2 %}">
	  <td>{{forloop.counter}}</td>
	  <td>
	    <input type="checkbox" checked="checked" name="{{persona.id}}" value="{{persona.id}}">
	  </td>
	  <td>{{persona}}</td>
	</tr>
	{% endfor %}
      </table>
    </div>
    <p class="paginator">
      {{personal_list.count}} Personal
    </p>
    <div class="submit-row">
      <input type="hidden" name="post" value="yes" />
      <input id='go_back' type="submit" value="Regresar al listado de personal" name="go_back" />
      <input class="default" type="submit" value="{% trans "Yes, I'm sure" %}" name="confirmed" />
    </div>
  </form>
</div>
{% endblock %}
