{% extends "admin/base_site.html" %}
{% load i18n l10n admin_static %}
{% load url from future %}
{% load admin_urls %}

{% block extrastyle %}
  {{ block.super }}
  <link rel="stylesheet" type="text/css" href="{% static "admin/css/forms.css" %}" />
  <link rel="stylesheet" type="text/css" href="{% static "common/css/jquery.modal.css" %}" />
{% endblock %}

{% block extrahead %}
  {{ block.super }}
  {{ form.media }}
  <script type="text/javascript" src="{{STATIC_URL}}common/js/jquery-1.7.2.min.js"></script>
  <script type="text/javascript" src="{{STATIC_URL}}common/js/jquery.modal.js"></script>
  <script type="text/javascript">
    (function($) {
      $(document).ready(function($) {
        
      });
    })(jQuery);
</script>
{% endblock %}

{% block breadcrumbs %}
<div class="breadcrumbs">
<a href="{% url 'admin:index' %}">{% trans 'Home' %}</a>
&rsaquo; <a href="{% url 'admin:personal_personal_changelist' %}">Personal</a>
&rsaquo; Contratar personal.
</div>
{% endblock %}

{% block content %}
<h1>Contrato realizado</h1>
<p>El personal ha sido contratato, haga clic en el siguiente enlace para 
iniciar descargar el PDF con todos los contratos. <br/><h2><a href="{{MEDIA_URL}}{{CONTRACTS_URL}}/contrato_proyecto_{{project.id}}.pdf">Descargar contratos</a></h2>
</p>
<h1>Desea asegurar al personal?</h1>
<p>Si desea continuar con el proceso para enviar los datos del contrato a una aseguradora haga clic en el botón asegurar. En caso contrario haga clic sobre el botón regresar al listado del personal.
</p>
<div class="submit-row">
  <form method='GET' action="">
    <input type="submit" value="Regresar al listado de personal" name="go_back" />
    <input class="default" type="submit" value="Asegurar" name="assure" />
  </form>
</div>
{% endblock %}
