{% extends "admin/base_site.html" %}
{% load i18n l10n admin_static %}
{% load url from future %}
{% load admin_urls %}

{% block extrastyle %}
  {{ block.super }}
  <link rel="stylesheet" type="text/css" href="{% static "admin/css/forms.css" %}" />
  <link rel="stylesheet" type="text/css" href="{% static "common/css/jquery.modal.css" %}" />
{% endblock %}

{% block extrahead %}
  {{ block.super }}
  {{ form.media }}
  <script type="text/javascript" src="{{STATIC_URL}}common/js/jquery-1.7.2.min.js"></script>
  <script type="text/javascript" src="{{STATIC_URL}}common/js/jquery.modal.js"></script>
  <script type="text/javascript" src="{{STATIC_URL}}personal/js/edit_modelo_contrato.js"></script>
  <script type="text/javascript">
    (function($) {
      $(document).ready(function($) {

        manage_model_edition('{{modified}}');

      });
    })(jQuery);
</script>
{% endblock %}

{% block breadcrumbs %}
<div class="breadcrumbs">
<a href="{% url 'admin:index' %}">{% trans 'Home' %}</a>
&rsaquo; <a href="{% url 'admin:personal_personal_changelist' %}">Personal</a>
&rsaquo; Contratar personal.
</div>
{% endblock %}

{% block content %}
<h1>Modelo de contrato seleccionado</h1>
<p>Modifique el modelo de contrato si es necesario</p>

<div id="changelist" class="module aligned">
  <form id="edit_model" action="" method="post">{% csrf_token %}
    {{ form.non_field_errors }}
    {% for field in form.hidden_fields %}
    {{field.errors}}
    {{field}}
    {% endfor %}
    {% for field in form.visible_fields  %}
    <div class="form-row aligned">
      <div>
	{{field.errors}}
	<label class="required" for="id_{{field.label}}">
	  {{field.label}}:
	</label> 
	{{field}}
	<p class="help">{{field.help_text|safe}}</p>
      </div>
    </div>
    {% endfor %}
    </div>
    <div class="submit-row">
      <input class="default" type="submit" value="Usar este modelo" name="save" />
      <input type="submit" value="Elegir otro modelo" name="go_back" />
    </div>
  </form>
</div>
{% endblock %}
