{% load i18n %}
<h3>{% blocktrans with filter_title=title %} By {{ filter_title }} {% endblocktrans %}</h3>

<ul>
  <li class="custom-multiselect">
    Concatenar <input type="checkbox" name="concatenate" value="1" />
  </li>
  {% for choice in choices %}
    <li class="custom-multiselect">
    <a class="multiselect" href="{{ choice.query_string|iriencode }}">{{ choice.display }}</a></li>
  {% endfor %}
  {{esp_multiselect}}
</ul>
