{% extends "admin/base_site.html" %}
{% load i18n l10n admin_static admin_list %}
{% load url from future %}
{% load admin_urls %}
{% load get_dict_value %}

{% block extrastyle %}
  {{ block.super }}
  <link rel="stylesheet" type="text/css" href="{% static "admin/css/forms.css" %}" />
  <link rel="stylesheet" type="text/css" href="{% static "admin/css/widgets.css" %}" />
{% endblock %}

{% block extrahead %}
  {{ block.super }}
  <script type="text/javascript" src="/admin/jsi18n/"></script>
  <script type="text/javascript" src="{{ STATIC_URL }}admin/js/core.js"></script>
<script type="text/javascript" src="{{ STATIC_URL }}admin/js/admin/RelatedObjectLookups.js"></script>
  <script type="text/javascript" src="{{ STATIC_URL }}admin/js/jquery.js"></script>
  <script type="text/javascript" src="{{ STATIC_URL }}admin/js/jquery.init.js"></script>
  {{ form.media }}
{% endblock %}

{% block breadcrumbs %}
<div class="breadcrumbs">
<a href="{% url 'admin:index' %}">{% trans 'Home' %}</a>
&rsaquo; <a href="{% url 'admin:personal_personal_changelist' %}">Personal</a>
&rsaquo; Contratar personal.
</div>
{% endblock %}

{% block content %}
<h1>Ingrese los detalles del contrato</h1>
{% if form.errors %}
    <p class="errornote">
    {% blocktrans count counter=form.errors|length %}Please correct the error below.{% plural %}Please correct the errors below.{% endblocktrans %}
    </p>
    {{ form.non_field_errors }}
{% endif %}
<div id="changelist" class="module aligned">
  <form action="" method="post">{% csrf_token %}
    {% for field in form.hidden_fields %}
    {{field.errors}}
    {{field}}
    {% endfor %}
    {% for field in form.visible_fields  %}
    <div class="form-row {% if field.errors %}errors{% endif %}">
      <div class='aligned'>
	{{field.errors}}
	<label {% if field.field.required %}class="required"{% endif %} for="id_{{field.label}}">
	  {{field.label}}:
	</label> 
	{{field}} 
	{% get_value add_shorcurts field.html_name as value %}
	{% if value != ''%}
	<a id="add_id_{{field.html_name}}" class="add-another" onclick="return showAddAnotherPopup(this);" href="{{value}}">
	  <img width="10" height="10" alt="Añadir otro" src="/static/admin/img/icon_addlink.gif">
	</a>
	{% endif %}
	<p class="help">{{field.help_text}}</p>
      </div>
    </div>
    {% endfor %}
    </div>
    <div class="submit-row">
      <input class="default" type="submit" value="Continuar" name="continue" />
    </div>
  </form>
</div>
{% endblock %}
