{% extends "email_templates/base.html" %}

{% block body %}
<p>
  {{message}}
</p>
<p><br/>Atentamente:<br/><br/>
  <span style="font-size: 20px;font-weight:bold;font-style:oblique;padding-left:20px;">{{sender_name}}</span>
</p>
{% endblock %}
