{% extends "admin/base_site.html" %}
{% load i18n admin_static admin_modify %}
{% load url from future %}
{% load admin_urls %}
{% load inclusionexclusion_exist contract_exist %}

{% block extrahead %}{{ block.super }}
{% url 'admin:jsi18n' as jsi18nurl %}
<script type="text/javascript" src="{{ jsi18nurl|default:"../../../jsi18n/" }}"></script>
  <link rel="stylesheet" type="text/css" href="{% static "admin/css/changelists.css" %}" />
{{ media }}
  <script type="text/javascript">
    (function($) {
      $(document).ready(function($) {
        $('input#id_user_sender').attr('value', '{{user.id}}');
        {% contract_exist object_id as cont_exist %}
        {% if not cont_exist %}
          $('fieldset.collapse').remove();
        {% endif %}
      });
    })(django.jQuery);
  </script>
{% endblock %}

{% block extrastyle %}{{ block.super }}<link rel="stylesheet" type="text/css" href="{% static "admin/css/forms.css" %}" />
{% endblock %}

{% block coltype %}{% if ordered_objects %}colMS{% else %}colM{% endif %}{% endblock %}

{% block bodyclass %}{{ opts.app_label }}-{{ opts.object_name.lower }} change-form{% endblock %}

{% if not is_popup %}
{% block breadcrumbs %}
<div class="breadcrumbs">
<a href="{% url 'admin:index' %}">{% trans 'Home' %}</a>
&rsaquo; <a href="{% url 'admin:app_list' app_label=opts.app_label %}">{{ app_label|capfirst|escape }}</a>
&rsaquo; {% if has_change_permission %}<a href="{% url opts|admin_urlname:'changelist' %}">{{ opts.verbose_name_plural|capfirst }}</a>{% else %}{{ opts.verbose_name_plural|capfirst }}{% endif %}
&rsaquo; {% if add %}{% trans 'Add' %} {{ opts.verbose_name }}{% else %}{{ original|truncatewords:"18" }}{% endif %}
</div>
{% endblock %}
{% endif %}

{% block content %}<div id="content-main">
{% block object-tools %}
{% if change %}{% if not is_popup %}
  <ul class="object-tools">
    {% block object-tools-items %}
    <li><a href="history/" class="historylink">{% trans "History" %}</a></li>
    {% if has_absolute_url %}<li><a href="../../../r/{{ content_type_id }}/{{ object_id }}/" class="viewsitelink">{% trans "View on site" %}</a></li>{% endif%}
    {% endblock %}
  </ul>
{% endif %}{% endif %}
{% endblock %}
<form {% if has_file_field %}enctype="multipart/form-data" {% endif %}action="{{ form_url }}" method="post" id="{{ opts.module_name }}_form">{% csrf_token %}{% block form_top %}{% endblock %}
<div>
{% if is_popup %}<input type="hidden" name="_popup" value="1" />{% endif %}
{% if save_on_top %}{% block submit_buttons_top %}{% submit_row %}{% endblock %}{% endif %}
{% if errors %}
    <p class="errornote">
    {% blocktrans count counter=errors|length %}Please correct the error below.{% plural %}Please correct the errors below.{% endblocktrans %}
    </p>
    {{ adminform.form.non_field_errors }}
{% endif %}

{% block field_sets %}
{% for fieldset in adminform %}
  {% include "admin/includes/fieldset.html" %}
{% endfor %}
{% endblock %}

{% block after_field_sets %}{% endblock %}

{% block inline_field_sets %}
{% for inline_admin_formset in inline_admin_formsets %}
    {% include inline_admin_formset.opts.template %}
{% endfor %}

<fieldset class="module collapse collapsed">
<h2>Ver detalles del proyecto</h2>
<div class="description">
A continuación se muestran todos detalles respecto al personal en este proyecto.<p></p>
</div>
<div id="changelist" class="module">
  <div class="actions">
    <h2>Personal que culminó el proyecto</h2>
  </div>
  <div class="results">
    <table id="result_list">
      <thead>
	<tr>
	  <th>
	    <div class="text">
	      <span>Personal</span>
	    </div>
	  </th>
	  <th>
	    <div class="text">
	      <span>Contratos</span>
	    </div>
	  </th>
	  <th>
	    <div class="text">
	      <span>Fecha inicio del contrato</span>
	    </div>
	  </th>
	  <th>
	    <div class="text">
	      <span>Fecha fin del contrato</span>
	    </div>
	  </th>
	</tr>
      </thead>
      {% for contract in final_staff %}
      <tr class="{% cycle 'row1' 'row2' %}">
	<th class="nowrap">
	  <a href="{% url 'admin:personal_personal_change' contract.personal.id %}" target="_blank">{{contract.personal}}</a>
	</th>
	<td>
	  <a href="{% url 'admin:proyectos_contrato_change' contract.id %}" target="_blank">Ver Contrato</a>
	</td>
	<td>
	  {{contract.fecha_inicio}}
	</td>
	<td>
	  {{contract.fecha_fin}}
	</td>
      </tr>
      {% endfor %}
    </table>
  </div>
  <p class="paginator">{{final_staff.count}} personas. <a href="{% url 'admin:admin_proyectos_proyecto_return_pdf_final_staff' object_id %}">Descargar contratos del personal</a></p>

  <br/>
  <div class="actions">
    <h2>Personal inicialmente contratado</h2>
  </div>
  <div class="results">
    <table id="result_list">
      <thead>
	<tr>
	  <th>
	    <div class="text">
	      <span>Personal</span>
	    </div>
	  </th>
	  <th>
	    <div class="text">
	      <span>Contratos</span>
	    </div>
	  </th>
	  <th>
	    <div class="text">
	      <span>Fecha inicio del contrato</span>
	    </div>
	  </th>
	  <th>
	    <div class="text">
	      <span>Fecha fin del contrato</span>
	    </div>
	  </th>
	</tr>
      </thead>
      {% for contract in initial_staff %}
      <tr class="{% cycle 'row1' 'row2' %}">
	<th>
	  <a href="{% url 'admin:personal_personal_change' contract.personal.id %}" target="_blank">{{contract.personal}}</a>
	</th>
	<td>
	  <a href="{% url 'admin:proyectos_contrato_change' contract.id %}" target="_blank">Ver Contrato</a>
	</td>
	<td>
	  {{contract.fecha_inicio}}
	</td>
	<td>
	  {{contract.fecha_fin}}
	</td>
      </tr>
      {% endfor %}
    </table>
  </div>
  <p class="paginator">{{initial_staff.count}} personas. <a href="{{MEDIA_URL}}{{CONTRACTS_URL}}/contrato_proyecto_{{object_id}}.pdf">Descargar contratos del personal</a> <a href="{{MEDIA_URL}}{{ATTACHMENTS_URL}}/proyecto_{{object_id}}.xls">Descargar documento excel de renovación</a></p>

<br/>
{% for inex in inclusions_exclusions %}
      <div class="actions">
        <h2>{{ inex.0 }}</h2>
      </div>
      <div class="results">
	<table id="result_list">
	  <thead>
	    <tr>
	      <th>
		<div class="text">
		  <span>Personal incluido</span>
		</div>
	      </th>
	      <th>
		<div class="text">
		  <span>Contratos</span>
		</div>
	      </th>
	      <th>
		<div class="text">
		  <span>Fecha inicio del contrato</span>
		</div>
	      </th>
	      <th>
		<div class="text">
		  <span>Fecha fin del contrato</span>
		</div>
	      </th>
	    </tr>
	  </thead>
      {% for contract in inex.1 %}
	  <tr class="{% cycle 'row1' 'row2' %}">
	    <th class="nowrap">
	      <a href="{% url 'admin:personal_personal_change' contract.personal.id %}" target="_blank">{{contract.personal}}</a>
	    </th>
	    <td>
	      <a href="{% url 'admin:proyectos_contrato_change' contract.id %}" target="_blank">Ver Contrato</a>
	    </td>
	    <td>
	      {{contract.fecha_inicio}}
	    </td>
	    <td>
	      {{contract.fecha_fin}}
	    </td>
	  </tr>
      {% empty %}
	  <tr class="row1">
	    <th colspan="4">
	      Ninguno.
	    </th>
	  </tr>      
      {% endfor %}
	</table>
      </div>

      <div class="results">
	<table id="result_list">
	  <thead>
	    <tr>
	      <th>
		<div class="text">
		  <span>Personal excluido</span>
		</div>
	      </th>
	      <th>
		<div class="text">
		  <span>Contratos</span>
		</div>
	      </th>
	      <th>
		<div class="text">
		  <span>Fecha inicio del contrato</span>
		</div>
	      </th>
	      <th>
		<div class="text">
		  <span>Fecha fin del contrato</span>
		</div>
	      </th>
	    </tr>
	  </thead>
        {% for contract in inex.2 %}
	  <tr class="{% cycle 'row1' 'row2' %}">
	    <th class="nowrap">
	      <a href="{% url 'admin:personal_personal_change' contract.personal.id %}" target="_blank">{{contract.personal}}</a>
	    </th>
	    <td>
	      <a href="{% url 'admin:proyectos_contrato_change' contract.id %}" target="_blank">Ver Contrato</a>
	    </td>
	    <td>
	      {{contract.fecha_inicio}}
	    </td>
	    <td>
	      {{contract.fecha_fin}}
	    </td>
	  </tr>
	{% empty %}
	  <tr class="row1">
	    <th colspan="4">
	      Ninguno.
	    </th>
	  </tr>      
        {% endfor %}
	</table>
      </div>
  <p class="paginator">{% inclusionexclusion_exist object_id inex.0.id as downloable %}{% if downloable %}<a href="{{MEDIA_URL}}{{CONTRACTS_URL}}/contrato_proyecto_{{object_id}}_inclusionexclusion_{{inex.0.id}}.pdf">Descargar contratos del personal incluido</a> {% endif %}<a href="{{MEDIA_URL}}{{ATTACHMENTS_URL}}/proyecto_{{object_id}}_inclusionexclusion_{{inex.0.id}}.xls">Descargar documento excel de inclusión exclusión</a></p>

      <br/>
{% endfor %}


</div>
</fieldset>

{% endblock %}

{% block after_related_objects %}{% endblock %}

{% block submit_buttons_bottom %}{% submit_row %}{% endblock %}


{% if adminform and add %}
   <script type="text/javascript">document.getElementById("{{ adminform.first_field.id_for_label }}").focus();</script>
{% endif %}

{# JavaScript for prepopulated fields #}
{% prepopulated_fields_js %}

</div>
</form></div>
{% endblock %}
